<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body class = "createPdf">
<div class="container">
    <h1>Pas hier je text aan</h1>
    <div class="text" contenteditable="true">
        <% result.recognitionResults.forEach(text => {
        text.lines.forEach(line => { console.log(line.text)%>
        <p>
            <%= line.text %>
        </p>
        <%
        });
        });
        %>
    </div>
</div>

<input type="submit" value="Copy text" class="button action-button animate green">

<script src="onLoad.js"></script>

</body>
</html>