<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body class = "createPdf">
<div class="container">
    <h1>Pas hier je text aan</h1>
    <p class="text" contenteditable="true">
        <% result.recognitionResults.forEach(text => {
        text.lines.forEach(line => { %>
            <%- line.text + '<br>' %>
        <%
        });
        });
        %>
    </p>
</div>

<form method="post" class="pdfForm">
    <textarea class="pdfText" name="pdfText" id="text" cols="30" rows="10"></textarea>
    <input type="submit" value="Get Pdf" class="button action-button animate green">
</form>

<script src="onLoad.js"></script>

</body>
</html>