<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body class = "upload">
<form action="">
<h1>Kopieer hier je text</h1>
<p>
    <% result.recognitionResults.forEach(text => {
    text.lines.forEach(line => { %>
        <%- line.text + '<br>'%>
    <%
    });
    });
    %>
</p>
</form>
</body>
</html>