<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body class = "createPdf">
<h1>Kopieer hier je text</h1>
<div class="text">
    <% result.recognitionResults.forEach(text => {
    text.lines.forEach(line => { %>
        <%- '<p>' +  line.text  + '</p>' %>
    <%
    });
    });
    %>
</div>
<form method="post" class="pdfForm">
    <textarea class="pdfText" name="pdfText" id="text" cols="30" rows="10"></textarea>
    <input type="submit" placeholder="Go" class="button">
</form>

<script src="onLoad.js"></script>

</body>
</html>