<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body class = "upload">
<h1>Kopieer hier je text</h1>
<p contenteditable="true">
    <% result.recognitionResults.forEach(text => {
    text.lines.forEach(line => { %>
        <%= line.text %>
    <%
    });
    });
    %>
</p>
<form method="post">
    <input type="submit" placeholder="Go">
</form>
</body>
</html>