<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Images to Server</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/stylesheet.css">
</head>
<body class = "upload">

<h1>Textify</h1>


    <form method="post" enctype="multipart/form-data">
        <label for="photo"><img src="../F1V.svg" alt=""></label>
        <input type="file" accept="image/*" name="photo" id="photo">
        <input type="submit" value="upload">
    </form>


</body>
</html>