<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Images to Server</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body class = "upload">

<h1>Textify</h1>


    <form method="post" enctype="multipart/form-data">
        <label for="photo"><img src="F1V.svg" alt=""></label>
        <input class="ImageUpload" type="file" accept="image/*" name="photo" id="photo">
        <input class="action-button animate green" class="submitButton" type="submit" value="upload" disabled>
    </form>
<script src="onLoad.js"></script>
</body>
</html>