@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&display=swap');

.upload {
   background-color: rgb(246,116,107);


h1{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.upload form{
}

.upload input:last-of-type{

}

#ImageUpload{
    visibility: hidden;
}

.upload input:first-of-type{
    visibility: visible;
}

.upload label:first-of-type{
    color: #4CA1AF;
    width: 200px;
    height: 200px;
}


.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 8px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: gray;
    text-decoration: none;
}

.green:enabled
{
    background-color: #69A297;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.green:disabled
{
    background-color: #F5F5F5;
    border-bottom: 5px solid gray;
    /*text-shadow: 0px -2px gray;*/
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}