@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);


body {
   background-color: rgb(246,116,107);

    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.upload form{
}

.upload input:last-of-type{

}

#ImageUpload{
    visibility: hidden;
}

.upload input:first-of-type{
    visibility: visible;
}

.upload label:first-of-type{
    color: #4CA1AF;
    width: 200px;
    height: 200px;
}

input:last-of-type:disabled{
    background-color: red;
}

input:last-of-type:enabled{
    background-color: lawngreen;
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 8px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.green
{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}