@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&display=swap');

.upload {
    background-color: rgb(246, 116, 107);
    display: flex;
    flex-direction: column;
}

.upload .loading-bar.active:after {
    width: 100%;
}
.upload .loading-bar:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 7px;
    width: 0%;
    height: 100%;
    background-color: white;
    transition: width 10s;
}
.upload .loading-bar {
    width: 50vw;
    height: 2em;
    border: 2px solid #2f2f2f;
    border-radius: 10px;
    margin: 10px auto;
    position: relative;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.createPdf h1:after {
    content: '\2193';
    position: absolute;
    bottom: -35px;
    left: 50vw;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.upload form{
    background-color: #2f2f2f;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.upload h1 {
    margin-top: 5vh;
}
.upload .container {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.upload .container label img{
    width: 200px;
    height: 233px;
}
.upload .container label {
    margin: auto;
}
.upload .ImageUpload {
    display: none;
}

.upload input:last-of-type{

}

#ImageUpload{
    visibility: hidden;
}

.upload input:first-of-type{
    visibility: visible;
}

.upload label:first-of-type{
    color: #4CA1AF;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 8px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.green:enabled
{
    background-color: #69A297;
    border-bottom: 5px solid rgba(68, 139, 115, 0.41);
    text-shadow: 0px -2px rgba(68, 139, 115, 0.41);
}

.green:disabled
{
    background-color: #F5F5F5;
    border-bottom: 5px solid gray;
    color: lightgray;
    /*text-shadow: 0px -2px gray;*/
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

/*createpdf*/

.createPdf {
    background-color: #a0bf5e;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    height: 100vh;
}
.createPdf .container {
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
}
.createPdf h1 {
    margin: 5vh 0;

}
.createPdf .text {
    text-align: left;
    width: auto;
    margin: 0 auto;
}
.createPdf form {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    background-color: #2f2f2f;
    width: 100vw;
    height: 50vh;
    position: absolute;
    bottom: 0;
}
.createPdf form input {
    width: 200px;
    margin: auto
}
.createPdf textarea {
    display: none}